#root {
  margin: 0 auto;
}
.formSection {
  display: flex;
  gap: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2;
}
form input,
form select {
  margin: 5px;
}
